<!DOCTYPE html>

<head>
	<h1>This the user bucket list page</h1>
	<script>
		function getOptions() {
			var x = document.getElementById("mySelect");
			var txt = "";
			var i;
			for (i = 0; i < x.length; i++) {
				txt = txt + " " + x.options[i].text;
			}
			document.getElementById("demo").innerHTML = txt;
		}
	</script>
</head>

<body>

	<form>
		Select your Location to explore:
		<select id="mySelect">
			<option>Atlanta</option>
			<option>Johns Creek</option>
			<option>Dunwoody</option>
			<option>Atlanta Downtown</option>
		</select>
		<br><br>
		<input type="button" onclick="getOptions()" value="Output all options">
	</form>

	<p id="demo"></p>

</body>

</html>