<html>

<head>
<style>
	body {
		font-family: Helvetica;
		color: rgb(194, 194, 194);
		background-color: black;
		font-size: 36pt;
		text-align: center;
		padding-top: 1em;
	}

	redirectlink {
		font-family: Helvetica;
		color: rgb(194, 194, 194);
		background-color: black;
		font-size: 12pt;
		text-align: center;
		padding-top: 1em;
	}
</style>
</head>


<body>
	<h1>Log In</h1>
	<h2>{{error}}</h2>
	<form method="POST" action="/login">
		<input type="text" name="username" placeholder="Your Username">
		<input type="text" name="password" placeholder="Your Password">
		<input type="submit" value="Submit">
	</form>
</body>

<redirectlink>
	<a href={{ url_for('signup') }}>Need to make an account? Sign Up!</a>
</redirectlink>

</html>