<html>

<head>
<style>
    body {
        font-family: Helvetica;
        color: rgb(194, 194, 194);
        background-color: black;
        font-size: 36pt;
        text-align: center;
        padding-top: 1em;
    }

    redirectlink {
        font-family: Helvetica;
        color: rgb(194, 194, 194);
        background-color: black;
        font-size: 12pt;
        text-align: center;
        padding-top: 1em;
    }
</style>
</head>

<body>
    <h1>Sign up!</h1>
    <div>{{error}}</div>
    <form method="POST" action="/signup">
        <input class="input is-large" type="text" name="username" placeholder="Your Username" autofocus="">
        <input type="text" name="password" placeholder="Your Password">
        <input type="submit" value="Submit">
    </form>
</body>

<redirectlink>
    <a href={{ url_for('login') }}>Already have an account? Log In!</a>
</redirectlink>

</html>